<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Registration</h2>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter your Username"><br><br>
        <input type="text" name="first_name" placeholder="Enter your First Name"><br><br>
        <input type="text" name="last_name" placeholder="Enter your Last Name"><br><br>
        <input type="email" name="email" placeholder="Enter your Email"><br><br>
        <input type="password" name="password" placeholder="Enter your password"><br><br>
        <input type="password" name="password1" placeholder="Confirm your password"><br><br>
        <input type="submit">
    </form>
    {% for msg in messages %}
    {{ msg }}
    {% endfor %}
</body>
</html>